



.picker_self{

  .rmc-picker-item{
    font-size: 28px;
    line-height: 70px;
    height: 70px;
  }
  .rmc-picker-indicator {
    height: 70px;
    top: 210px;
  }
  .rmc-picker{
    height: 490px;
  }
  .rmc-picker-mask{
    background-size: 100% 210px;
  }


  .rmc-picker-popup-item {

    font-size: 30px;
    height: 60px;
    line-height: 60px;
  }

}



// 50

/*

.picker_self{

  .rmc-picker-item{
    font-size: 28px;
    line-height: 50px;
    height: 50px;
  }
  .rmc-picker-indicator {
    height: 50px;
    top: 150px;
  }
  .rmc-picker{
    height: 350px;
  }
  .rmc-picker-mask{
    background-size: 100% 150px;
  }


  .rmc-picker-popup-item {

    font-size: 30px;
    height: 60px;
    line-height: 60px;
  }

}*/
