
.body{
  -webkit-overflow-scrolling: touch;
}
.viewListWrap2{


  //overflow-x: hidden;
  //overflow-y: scroll;
  //-webkit-overflow-scrolling: touch;



  .viewList-viewMore{
    text-align: center;
    background: white;
    height: 80px;
    line-height: 80px;
  }
}
