.lazyload{

  width:100%;

  .img-list{
    width:100%;


    li{
      display: flex;
      justify-content:space-between;
      a{
        border:1px solid #ccc;
        flex-grow:1;
        min-width: 2rem;
        margin: 5px;
        overflow: hidden;
      }
      img{
        display: block;
        width:100%;
        height:auto;
      }
    }
  }

}